/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#content {
  display: grid;
}

/* Header */
a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(2,2,2,.5);
  color: white;
  height: 80px;
  padding: 0 60px;
  grid-row: 1;
}

.logo {
  font-size: 48px;
  font-weight: bold;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav ul a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 27px 10px;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: white;
  background-color: rgba(2,2,2,.5);
  grid-row: 0;
}

/* Intro - home.js */
.intro {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: right;
  color: white;
}

.copy {
  font-size: 40px;
  padding-right: 60px;
  margin-top: 25px;
}

.copy::after {
  content: '';
  width: 100%;
  height: .5px;
  background-color: white;
  display: block;
  margin-bottom: 10px;
}

.desc {
  font-size: 20px;
  max-width: 45ch;
  padding-left: 10px;
}

/* Menu - menu.js */
.title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 25px;
}

.dishes-sec, .drinks-sec {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drinks-sec {
  margin-bottom: 134px;
}

.dishes-bg, .drinks-bg {
  width: 100%;
  height: 108px;
  margin-bottom: 48px;
  padding-left: 76px;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.dishes-bg {
  background: url('./img/dishes-bg.png');
}

.drinks-bg {
  background: url('./img/drinks-bg.png');
  margin-top: 60px;
}

.opt-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 80px;
}

.img-div {
  height: 195px;
  width: 347px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plate-name {
  margin-top: -150px;
}

.desc {
  max-width: 27ch;
}